*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
    
}
body{
    background-image: url(certificate.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30rem;
}